.loginContainer{
    margin: auto;
    width: 50%;
    width: 350px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 145, 0);

}
form{
    width: 100%;
    border: none;
}
.logo{
    color: rgb(13, 15, 15);
}

.loginButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(37, 34, 34);
    color: aliceblue;
}


.failure{
    color: red;
    font-size: 15px;
}
.logincancel{
    position: absolute;  
    top: 5px;
    right: 5px;
    cursor: pointer;
}