.card{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label{
    width: max-content;
    color: rgb(246, 66, 11);
    font-size: 17px;
    
    margin: 3px 0x;
    background-color: rgb(246, 246, 246);

}
.desc{
    font-size: 21px;
}

.star{
    color: gold;
}

.username{
    font-size: 17px;
}

.date{
    font-size: 15px;
}

form{
    width: 230px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.button {
    position: absolute;
    z-index: 1;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.logout{
    background-color: tomato;
}
.login{
    background-color: rgb(73, 92, 92);
}
.register{
    background-color: blueviolet;
}